<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add your package sources here -->
    <!-- Example: -->
    <add key="AspirePreview" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <!-- Add any disabled package sources here -->
    <!-- Example: -->
    <!-- <add key="MyDisabledPackageSource" value="https://mydisabledpackagesource.com" /> -->
  </disabledPackageSources>
</configuration>
